.contact{
    margin-top: 12rem !important;
    margin-bottom: 8rem !important;
    
}

.card{
    background-color: #16ABEC !important;
    width: 70% !important;
}


.btn{
    color: #16ABEC !important;
}